<%= stylesheet_link_tag "account" %>
<div class="user-panel">
  <img class="large-logo" src="../assets/logo-lg.png" width="84">
  <div class="panel account-panel">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.label "电子邮件地址" %><br/>
        <%= f.email_field :email, autofocus: true, class: 'text-input' %>
        <%= f.label "密码" %><span class="pull-right">(最短<em><%= @minimum_password_length %></em>位)</span><br/>
        <%= f.password_field :password, autocomplete: "off", class: 'text-input' %>
        <%= f.label "确认密码" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'text-input' %>
        <%= f.submit "注册" ,class: "btn btn-primary pull-right"%>
    <% end %>
  </div>
  <span class="pull-right control">
    <%= render "devise/shared/links" %>
  </span>
</div>
