<%= stylesheet_link_tag "article-form" %>
<%= javascript_include_tag "article-form" %>
<div class="container">
  <div class="articles-panel col-md-9">
    <ul class="breadcrumb">
      <li><%= link_to "Blog Demo", root_path %></li>
      <li><%= link_to "Mine", mine_users_path %></li>
    </ul>
    <%= simple_form_for(@article) do |f| %>
        <div class="info">
          <h5>主题标题
            <small class="pull-right">120</small>
          </h5>
        </div>
        <%= f.input :title, as: :string, label: false, placeholder: "请输入主题标题", input_html: {class: 'form-input form-control'} %>
        <div class="info">
          <h5>正文
            <small class="pull-right">20000</small>
          </h5>
        </div>
        <%= f.text_area :text, as: :text, label: false, class: 'form-area form-control wysihtml5', placeholder: '请输入正文', rows: 16 %>
        <div class="info form-bottom">
          <%= select_tag "article[category]", options_for_select(Article::CATEGORY, @article.category), class: "form-control category" %>
          <%= f.submit "发布", class: 'btn btn-primary pull-right' %>
        </div>
    <% end %>
  </div>
</div>

<script type="application/javascript">
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5({
      toolbar: {
        "color": true,
        "size": 'sm'
      },
      "locale" : 'zh-CN',
    });
  });
</script>