<link rel="stylesheet" href="../assets/article.css">
<div class="container">
  <div class="blog-panel">
    <ul class="breadcrumb">
      <li><%= link_to "Blog Demo", root_path %></li>
      <li><%= link_to @article.category, mine_users_path %></li>
    </ul>
    <h2 class="article-title text-center"><%= @article.title %></h2>
    <div class="align-center divider-bottom">
      <ul class="list-inline">
        <li><span class="glyphicon glyphicon-time blog-info"></span><%= @article.created_at.strftime '%Y-%m-%d' %>
        </li>
        <li>
          <%= link_to user_path(@article.user) do %>
              <span class="glyphicon glyphicon-user blog-info"></span><%= @article.user.email %>
          <% end %>
        </li>
      </ul>
    </div>
    <pre style="white-space: pre-wrap;
        word-wrap: break-word;"><%= @article.text %></pre>
  </div>
</div>