<link rel="stylesheet" href="assets/index.css">

<div class="container">
  <% if @today_updated_count > 0 %>
      <div class="alert alert-success alert-dismissible update-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        今天已经更新<strong> <%= @today_updated_count %> </strong>篇文章
      </div>
  <% end %>
  <div class="content">
    <div class="col-md-9 blog-panel">
      <% @articles.each do |article| %>
          <div class="blog">
            <h3><%= link_to article.title, article_path(article), class: "blog-title" %></h3>
            <ul class="list-inline">
              <li>
                <span class="glyphicon glyphicon-time blog-info"></span><%= article.created_at.strftime '%Y-%m-%d' %>
              </li>
              <li>
                <%= link_to user_path(article.user) do %>
                    <span class="glyphicon glyphicon-user blog-info"></span><%= article.user.email %>
                <% end %>
              </li>
            </ul>
            <p><%= article.text.truncate(200) %></p>
          </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <h6 class="about-title">ABOUT ME</h6>
      <img src="assets/blog_13-480x320.jpg" style="width: 100%">
      <p class="about-info">
        关于我，中央提出，党的十八大代表应是共产党员中的优秀分子，在坚持先进性的同时应具有广泛的代...
      </p>
    </div>
  </div>
</div>
