<!DOCTYPE html>
<html>
<head>
  <title>Blog Demo</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="nav navbar-default nav-bottom" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="/">
        <%= image_tag "logo.png", class: "navbar-left" %>
        <span class="navbar-brand brand">Blog Demo</span>
      </a>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Technology blog", search_path(category: "Technology blog") %></li>
      <li><%= link_to "Art blog", search_path(category: "Art blog") %></li>
    </ul>

    <form class="navbar-form nav-search-form" action="/search" method="get" role="search">
      <div class="form-group input-group" style="">
        <input type="text" name="q" class="form-control" placeholder="search" value="<%=params[:q]%>">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Search!">
        </span>
      </div>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                <%= link_to mine_users_path do %>
                    <span class="glyphicon glyphicon-user"></span>
                    我的主页
                <% end %>
              </li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <%= link_to destroy_user_session_path, method: 'DELETE' do %>
                    <span class="glyphicon glyphicon-off"></span>
                    退出登录
                <% end %>
              </li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<%= image_tag "shadow_light.png", class: "nav-shadow" %>

<%= yield %>

<div class="col-md-12 footer">
  © 2016 Blog Demo
</div>
</body>
</html>
